
<div class="password-recovery-container">
    
    <form (ngSubmit)="onSubmit()">
      <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="goBack()"><i class="fa-solid fa-circle-xmark"></i></a>
        <img src="assets/zam_ikhaya-removebg-preview.png" alt="Logo" class="logo">
        

    <h1>Recover Password</h1>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" [(ngModel)]="email" name="email" required>
      </mat-form-field>
      <div class="password-recovery-actions">
        <button mat-raised-button color="primary" type="submit">Send Recovery Email</button>
      </div>
    </form>
  </div>
  