<div class="welcome-container">
    <img src="assets/Rectangle 30.png" alt="background" class="background-image">
    <div class="overlay">
      <div class="text-container">
        <!-- <h1>FIND YOUR HOME</h1>
        <h2>EKASI</h2>
        <h3>ESAMORA</h3>
        <h3>EPHILLIPI</h3>
        <h3>ENYANGA</h3>
        <h3>KWALANGA</h3> -->
      </div>
      <button mat-raised-button color="primary" class="get-started-button">Get Started</button>
      <img src="assets/zam_ikhaya-removebg-preview (1).png" alt="Logo" class="logo">
    </div>
  </div>
  