
  <div class="message-container">
   <div class="message-header">
     <img [src]="senderPicture" alt="Sender Picture" class="sender-picture">
     <span class="sender-name">{{ senderName }}</span>
     <img [src]="receiverPicture" alt="Receiver Picture" class="receiver-picture">
     <span class="receiver-name">{{ receiverName }}</span>
   </div>

   <div class="message-body">
     <textarea [(ngModel)]="messageText" placeholder="Type your message..."></textarea>
     <button (click)="sendMessage()">Send</button>
   </div>
   <div class="Display message">
     <p *ngFor="let msg of messages">{{ msg }}</p>
   </div>
 </div>
 
