 <app-navbar></app-navbar>
 <!-- <app-filtering></app-filtering> -->

 <div class="filtr">
  <!-- <div class="fliter">
      <div>
          <select [(ngModel)]="selectedLocation" >
            <option value="" disabled>Pick a location</option> 
            <option *ngFor="let location of locations" [value]="location" (change)="filterByLocation(location)">
              {{location}}
            </option>
          </select>
        </div>
        
</div> -->
<form class="max-w-md mx-auto">   
  <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
  <div class="relative">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
      </div>
      <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search" required />

  </div>
</form>

</div>

<app-featured></app-featured>
<div class="homepage-container flex flex-col justify-between h-screen  dark:bg-gray-900">
    <div class="container mx-auto px-4 py-8 rounded-2xl shadow dark:shadow-md border border-black ">
      <h1 class="text-3xl font-bold mb-4">All</h1>
     <app-one-card></app-one-card>
    </div>
</div>
<!-- <app-bottom-nav></app-bottom-nav> -->
