
<div class="intro-container">
  <img src="assets/Rectangle 30.png" alt="Background" class="background-image">
  <div class="intro-overlay">
    <h1>{{ slides[currentSlide].title }}</h1>
    <p>{{ slides[currentSlide].subtitle }}</p>
    <div class="intro-image">
      <img [src]="slides[currentSlide].image" alt="Intro">
    </div>
    <p class="intro-text" [innerHTML]="slides[currentSlide].description"></p>
    <div class="intro-navigation">
      <button mat-button class="nav-button" (click)="nextSlide()">&rarr;</button>
    </div>
    <button class="text-white hover:text-white border border-white hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800" (click)="skipIntro()">Skip</button>
  </div>
</div>
