<div class="navbar bg-base-100">

    <div class="flex-1">
      <button routerLink="/homepage" class="btn btn-ghost text-xl"> 
        <img src="assets/zam_ikhaya-removebg-preview.png" id="logoBtn"/> </button>
    </div>
  
    <div class="flex-none">
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="">
          <div class="w-10 rounded-full">
            <button data-collapse-toggle="navbar-hamburger" type="button" class="inline-flex items-center justify-center p-2 w-10 h-10 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-hamburger" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
              </svg>
            </button>             
          </div>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52 ">
          <li><a routerLink="/homepage" type="button" style="color: black;">Browse other properties</a></li>
          <!-- <li><a routerLink="/profile" type="button" style="color: black;">Edit Profile</a></li> -->
          <li><a class="text-base-content" type="button" style="color: black;">About</a></li>
          <li><a routerLink="/terms-and-conditions" class="text-base-content" type="button" style="color: black;">Terms and Conditions</a></li>
          <li>
            <a routerLink="/signin" class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 dark:hover:text-white" style="color: red;">Sign out</a>
          </li>
          
        </ul>
        
      </div>
      </div>
  </div> 