<div class="auth-container">
  <div class="auth-card">
    <h1>Sign Up</h1>
    <p>Create an account</p>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="custom-form-field">
        <mat-label class="persistent-label">First Name</mat-label>
        <input matInput formControlName="firstName" placeholder="Enter first name" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="custom-form-field">
        <mat-label class="persistent-label">Last Name</mat-label>
        <input matInput formControlName="lastName" placeholder="Enter last name" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="custom-form-field">
        <mat-label class="persistent-label">Email</mat-label>
        <input matInput formControlName="email" placeholder="Enter email address" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="custom-form-field">
        <mat-label class="persistent-label">Password</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Enter password" required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" class="auth-button">Sign Up</button>
    </form>
    <div class="logo-container"></div>
  </div>
</div>
