
<div class="intro-container">
    <img src="assets/Rectangle 30.png" alt="Background" class="background-image">
    <div class="intro-overlay">
      <h1>WELCOME</h1>
      <p>Are you ready to move?</p>
      <div class="intro-image">
        <img src="assets/Rectangle 33.png" alt="Intro">
      </div>
      <p class="intro-text">Find <span>your township home</span> with us today.</p>
      <div class="intro-navigation">
        <button mat-button class="nav-button" >&rarr;</button>
      </div>
      <button mat-button class="skip-button" >Skip</button>
    </div>
  </div>